@use "../../../scss-variables/media-queries" as*;

.home {
  position: relative;
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;

  @include media-queries(large) {
    min-height: initial;
    height: 600px;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    max-width: 1100px;
    min-height: inherit;
    margin: 0 auto;
    padding: 50px 10px 0 10px;
    transform: translateY(-30px);

    @include media-queries(small) {
      padding: 50px 20px 0 20px;
    }

    @include media-queries(xmedium) {
      padding: 50px 50px 0 50px;
    }

    @include media-queries(large) {
      flex-direction: row;
      justify-content: initial;
      min-height: initial;
      height: 100%;
      transform: initial;
    }
  }

  &__left {
    display: flex;
    align-items: flex-end;
    width: 100%;
    order: 1;
    z-index: 1;

    @include media-queries(large) {
      width: 50%;
      order: initial;
    }
  }

  &__title-1 {
    text-align: left;
  }

  &__title-2 {
    margin-bottom: 20px;
    text-align: left;
  }

  &__button-more {
    width: 100px;
    padding: 5px 0px;
    margin-bottom: 10px;
    border: none;
    outline: none;
    background-color: #59adff;
    color: white;
    font-size: 1.6rem;
    font-family: "Oswald", sans-serif;
    letter-spacing: 1px;
    cursor: pointer;

    @include media-queries(small) {
      width: 140px;
      padding: 7px 0px;
      margin-bottom: 50px;
      font-size: 2rem;
    }

    @include media-queries(medium) {
      width: 160px;
      padding: 7px 0px;
      margin-bottom: 50px;
    }
  }

  &__right {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 100%;
    z-index: 1;

    @include media-queries(large) {
      width: 50%;
    }
  }

  &__right-inner-wrapper {
    width: 100%;
    background-image: url("https://firebasestorage.googleapis.com/v0/b/portfolio-628b9.appspot.com/o/blob-main-page-1.svg?alt=media&token=4a69849a-d17f-4316-868e-544289701131");
    background-position: center bottom;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0 -25px -55px 0;
    padding-top: 60%;
    height: 0;

    @include media-queries(xsmall) {
      margin: 0 -25px 0px 0;
    }

    @include media-queries(small) {
      margin: 0 -40px -70px 0;
    }

    @include media-queries(xmedium) {
      margin: 0 -60px 0px 0;
    }

    @media (min-width: 540px) and (max-width: 540px) and (min-height: 720px) and (max-height: 720px) {
      margin: 0 -60px -120px 0;
    }
  }
}
